.heading1{
	color: yellow;
	text-align: center;
}

.para1{
	color: red;
	margin-left: 200px;
}

.para2{
	color: blue;
}

.para3{
	color: khaki;
}

body{
	background-color: skyblue;
}

.flower{
	height: 150px;
	width: 150px;	
	margin-left: 300px;
}

.flower:hover{
	height: 200px;
	width: 200px;
	transition: 1s;
	border-radius: 10px;
}